<div class="home-image cover">
  <div class="main-title">Restaurant Doña Pelos</div>
</div>
<nav class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand" href="#">Home</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Categories <span class="sr-only">(current)</span></a>
      </li>
    </ul>
</nav>
<h1>Categories</h1>
 <categories categories="categories.items"></categories> 

<!-- el atributo categories viene del categories.components, el ="categories.items"
es porque así se llama el controlador y los datos estan en items,los datos dentro 
del componente <categories> estan en $ctrl.categories-->

