* {
  padding: 0;
  margin: 0;
}

.home-image {
  box-sizing: border-box;
  background: url('../images/bg1.jpg') center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.main-content {
  padding: 20px;
  margin: 20px;
}

.main-title {
  color: white;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px;
  font-size: 4em;
  margin: 40px;
}

.main-content a {
  margin-top: 40px;
  display: inline-block;
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  padding: 20px 30px;
  text-decoration: none;
	border-radius: 3px;
  color: white;
  font-size: 2em;
  background: rgba(255,255,255,0.5);
	box-shadow: rgba(255, 255, 255, 1) 0 0px 0px 3px inset;
}

.main-content a:hover{
  color: white;
  background: rgba(255,255,255,0.8);
}
/*categories  */
.container{
  padding-bottom: 20px;
}

.cover{
  min-height: 30vh;
  background-attachment: fixed;

}

.card{
  min-width: 23vw; 
  margin: 20px;
  max-width: 23vw;
}

.list-group a{
  margin: 20px 0;
}
